<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <img class="logo" src="assets/images/logo.jpg" alt=""/>
       <span> Quotation</span>
    </nav>
    <div>
        <table class="table">
            
                <tr>
                    <th>Our Info</th>
                    <th>Customer Info</th>
                    <td>
                        <h5>Quotation Number : sam2022-004</h5>

                    </td>
                </tr>
            
            <tbody>
                <tr>
                    <td>
                        <h3>Abdullah Shannan Al-Zahrani</h3>
                        <h3>Trading Est</h3>
                        <p>Prince Nayef bin Abdulaziz Road, Dammam</p>
                        <p> Dammam</p>
                        <p> Eastern, India - ..</p>
                        <p> Email:shazco@gmail.com </p>
                        <p> Vat/Tax ID: 311233200800003</p>
                        <p> CR_number: 2050156111  </p> 
                    </td>
                    <td>
                        <h3> Cash Customer </h3>
                            
                        <p> Jubail</p>
                        <p>Eastern, Saudi Arabia</p>
                        <p>Vat/Tax ID: 00000000</p>
                        <p>Email: na</p>
                    </td>
                    <td >
                       
                       <h5 style="border-bottom: 1px solid;padding: 30px;">Quotation Date : 2022-08-13</h5>
                       <h5 style="border-bottom: 1px solid ; padding: 30px;">Client RFQ :</h5>
                       <h5 style="border-bottom: 1px ; padding: 30px;">RC Ref :</h5>
                    </td>
                </tr>
            
            </tbody>
        </table>
       

        <div class="text-bold">
            Subject :
        </div>
            <span>Subject for Quotation</span>
        </div>
        <div class="text-bold">
            Dear Sir,


        </div>
        <span>With reference to your enquiry, Please find our competetive Quotation as follows:</span>

        <table class="table">
            <thead class="table-head">
                <th>#</th>
                <th>Item Code</th>
                <th>Item Name</th>
                <th>UOM</th>
                <th>Unit Rate</th>
                <th>Qty</th>
                <th>Amount</th>
                <th>Discount</th>
                <th>Amount(Exc Tax)</th>
                <th>Tax</th>
                <th>Amount(Inc Tax)</th>
            </thead>
            <tbody>
                <td>1</td>
                <td>TOY-2</td>
                <td>daal</td>
                <td></td>
                <td>80.00</td>
                <td>1.00</td>
                <td>80.00</td>
                <td>0.00</td>
                <td>80.00</td>
                <td>48.00</td>
                <td>128.00</td>
            </tbody>
        </table>
    
        <table class="table">
            <thead class="table-head">
                <tr>
                    <th style="background: white;"></th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4" >Amount in words / 128.00 : (one hundred twenty-eight Riyals/ )</td>
                    <td>
                       <span style="font-weight: bold;"> Sub Total </span>: 80.00
                    </td>
                </tr>
                <tr>   
                    <td>
                        <span style="font-weight: bold;">Total Discount </span>: 0.00
                    </td>
                </tr> 
                <tr>
                    <td>
                        <span style="font-weight: bold;">Total Tax </span>: 48.00
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Total :128.00</h5>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>We hope that our ofer is in line with your requirements. 
            Please indicate in your purchase order our Quotation Reference and acceptance to the terms & conditions</p>
            <table class="table">
                <thead class="table-head">
                    <tr>
                        <th>Bank Details</th>
                        <th>Terms</th>
                        <th>Authorizes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span style="font-weight: bold;">Account Name :</span>

                            </td>
                        <td rowspan="5">
                            <h5>All1_normal</h5>
                            <p>All Normal Description</p>

                        </td>
                        <td rowspan="5">
                            <p>(fhfgh)</p>
                            <p>Business Owner</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bold;">Bank Name :</span>

                        </td>
                    </tr>
                    <tr>

                        <td>
                            <span style="font-weight: bold;">Account No :</span>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bold;">IBAN :</span>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bold;">Swift Code :</span>

                        </td>
                    </tr>
                </tbody>
            </table>
</body>
</html>